body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #6d6d6d; 
    margin-bottom: 60px; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #880101;
    color: #fff;
    position: fixed;
    height: fit-content;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list-menu{
    width: 65%;
    display:flex;
    justify-content: right;
    list-style: none;
}

.nav-list-menu li{
    margin-left: 20px;
}

.nav-list-menu li a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-list-menu li a:hover{
    background-color: #DDC913;
    color: #880101;
    border-radius: 20px;
}

.logo h3{
    margin: 0;
}

.logo h3,
.logo h4 {
    margin: 0;
}

.logo h4 {
    font-weight: normal;
}

.logo img {
    margin-right: 10px;
    margin-left: 10px;
}

.logo h3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #880101;
    overflow: hidden;
  }
  
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }
  
.navbar a:hover {
    background-color: #DDC913;
    color: #880101;
    border-radius: 20px;
  }

@media screen and (max-width: 600px) {
.navbar {
  flex-direction: column;
  align-items: center;
}
  
.navbar a {
  width: 100%;
  text-align: center;
    }
  
.navbar a:not(.icon) {
  display: none;
}
  
.navbar.responsive a:not(.icon) {
  display: block;
}
}


.search {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.search form{
    display: flex;
    margin: 0;
}

.search input{
    padding: 10px;
    border: 1px solid #dddd;
    outline: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.search input:hover{
    border: 1px solid #72a0d4;
}

.search button{
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.search button:hover{
    background-color: #ccc;
}

main {
    margin-top: 80px;
    padding: 20px;
}

.front {
    padding: 20px;
    background-image: url("images/slideshow-images/slideshow1.jpg");
    border-radius: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    height:max-content;
    text-align: right; 
    animation: change 3s infinite ease-in-out;
    animation-duration: 20s;
}

@keyframes change { 
    0% 
    {
        background-image: url(images/slideshow-images/slideshow1.jpg);
    }

    25% 
    {
        background-image: url(images/slideshow-images/slideshow2.jpg);
    }

    50% 
    {
        background-image: url(images/slideshow-images/slideshow3.jpg);
    }

    75% 
    {
        background-image: url(images/slideshow-images/slideshow4.jpg);
    }

    95% 
    {
        background-image: url(images/slideshow-images/slideshow5.jpg);
    }

    100% 
    {
        background-image: url(images/slideshow-images/slideshow1.jpg);
    }
}

.front h1{
    color: #fff;
    text-align: right;
}

.front p{
    color: #fff;
    text-align: right;
    margin-left: 40vh;
}

.front button {
    border: none;
    outline: 0;
    display: inline-block;
    font-weight: bold;
    margin-top: 20vh;
    padding: 10px 10px;
    color: #ffffff;
    background-color: #880101;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }

.front button:hover {
    background-color: #DDC913;
    color: #880101;
    font-weight: bolder;
}

.academic-programs h2 {
    color: #880101;
}

.academic-programs {
    padding: 20px;
    background-image: url("images/acad_bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.table-content {
    margin-top: 20px;
}

.table-content table {
    width: 100%;
    border-collapse: collapse;
}

.table-content th, .table-content td {
    border: none;
    padding: 10px;
    text-align: left;
}

.table-content td {
    position: relative;
}

td:hover::after {
    content: attr(data-info);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 500;
    color: #313131;
    background-color: #C1BEC5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 20px;
    z-index: 1;
    margin-top: 10px;
}

.history h2 {
    color: #880101;
}

.history {
    padding: 20px;
    background-image: url("images/history_bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.vmgo {
    padding: 20px;
    background-image: url("images/vmgo-bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.vmgo-content {
    text-align: center;
}

.vmgo-content h3, .vmgo-content th {
    text-align: center;
    color: #880101;
    font-size: 24px; 
}

.vmgo-content table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.vmgo-content th, .vmgo-content td {
    padding: 10px;
    text-align: center;
}

.vmgo-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.vmgo-content li {
    margin-bottom: 5px;
}

.contact h2 {
    color: #880101;
}

.contact-html h1 {
    color: #880101;
}

.contact {
    padding: 20px;
    background-image: url("images/contact_bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#footer-part {
    background-color: #33333300;
    color: #fff;
    padding: 40px 0;
    transition: background-color 0.3s ease-in-out;
}

#footer-part:hover {
    background-color: #555555;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
}

.footer_about,
.footer-quicklinks,
.footer-contact {
    flex: 1;
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
}

.footer_about:hover,
.footer-quicklinks:hover,
.footer-contact:hover {
    transform: scale(1.05);
}

.footer_links a:hover {
    color: #ffd700; 
}

.socmed_links a:hover {
    color: #ffd700; 
}

.footer-copyrightText a:hover {
    text-decoration: underline;
}

.footer-copyrightText p {
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer_about {
    color: #ffffff;
}

.footer_about h2 {
    color: #fff;
}

.footer_about p {
    font-size: 14px;
    line-height: 1.5;
}

.socmed_links {
    list-style: none;
    padding: 0;
    display: flex;
}

.socmed_links li {
    margin-right: 10px;
}

.socmed_links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer_links {
    list-style: none;
    padding: 0;
}

.footer_links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer_info {
    list-style: none;
    padding: 0;
}

.footer_info_contacts {
    font-size: 14px;
    margin: 5px 0;
}

.footer-copyrightText {
    text-align: center;
    margin-top: 30px;
}

.footer-copyrightText p {
    font-size: 14px;
}

.footer-copyrightText a {
    color: #fff;
    text-decoration: none;
}

.footer-copyrightText a:hover {
    text-decoration: underline;
}



.contact-html {
    padding: 20px;
    background-image: url("images/contact-html-bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-table-content {
    margin-top: 20px;
}

.contact-table-content table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.contact-table-content th, .contact-table-content td {
    border: none;
    padding: 10px;
    text-align: left;
}

.contact-table-content td {
    position: relative;
}

.faculty-html h1{
    color: #880101;
}

.faculty-html {
    padding: 20px;
    background-image: url("images/faculty-html-bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.faculty-table-content {
    margin-top: 20px;
}

.faculty-table-content table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.faculty-table-content th, .faculty-table-content td {
    border: none;
    padding: 10px;
    text-align: left;
}

.faculty-table-content td {
    position: relative;
}

.staff-official-html {
    padding: 20px;
    background-image: url("images/staff-bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.staff-staff-html {
    padding: 20px;
    background-image: url("images/staff-bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.staff-official-html h1{
    color: #880101;
}

.staff-table-content {
    margin-top: 20px;
}

.staff-table-content table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.staff-table-content th, .faculty-table-content td {
    border: none;
    padding: 10px;
    text-align: left;
}

.staff-table-content td {
    position: relative;
}


.facilities-html {
    padding: 20px;
    background-image: url("images/facilities_bg.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.card{
    width: 330px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    transition: 0.5s;
}

.card img{
    width: 100%;
    height: auto;
}

.card:hover{
    transform: scale(1.1);
    z-index: 2;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.staff-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.staff-card{
    width: 240px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    transition: 0.5s;
}

.staff-card img{
    width: 100%;
    height: auto;
}

.staff-card:hover{
    transform: scale(1.1);
    z-index: 2;
}

.staff-card-content{
    padding: 16px;
}

.staff-card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.staff-card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
